<div class="navbar">


    <table>
    <tr>
        <td ><span>Explore More</span></td></tr>
        <div>
    <tr>
        <td ><a  href="#"><i class="fa fa-fw fa-home"></i> Offers</a></td>
        <td > <a  href="#"><i class="fa fa-fw fa-search"></i> Insuarance</a></td>
        <td > <a  href="#"><i class="fa fa-fw fa-envelope"></i> Gas</a></td>
        <td > <a href="#"><i class="fa fa-fw fa-envelope"></i> Water</a></td>
        <td > <a href="#"><i class="fa fa-fw fa-envelope"></i> Landlne</a></td>
        <td >  <a href="#"><i class="fa fa-fw fa-user"></i> Get Loan</a></td>
  </tr></div>
</table>

</div>