<div class="navbar">
    <a style="width: 16%;" routerLink="/rechargeHeader"><i class="fa fa-fw fa-home"></i> Prepaid</a>
    <a style="width: 16%;" routerLink="/rechargeHeader"><i class="fa fa-fw fa-search"></i> Postpaid</a>
    <a style="width: 16%;" routerLink="/rechargeHeader"><i class="fa fa-fw fa-envelope"></i> NETC FASTag</a>
    <a style="width: 16%;" routerLink="/rechargeHeader"><i class="fa fa-fw fa-envelope"></i> DTH</a>
    <a style="width: 16%;" routerLink="/rechargeHeader"><i class="fa fa-fw fa-envelope"></i> BroadBand</a>
    <a style="width: 16%;" href="#"><i class="fa fa-fw fa-user"></i> Electricity Bill</a>
</div>
